.templates > ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
}

.selectableBox .icon {
    border: 3px solid transparent;
    background-color: lightgray; /* TODO: Use the correct color */
    margin-bottom: 15px;
    padding: 10px 10px 40px 10px;
}

.selectableBox .icon:hover {
    border-color: blue; /* TODO: Use the correct color */
}

.selectableBox .icon > img {
    margin: 0 40px;
}

.selectableBox .icon .selection {
    text-align: right;
    visibility: hidden;
}

.selectableBox .icon .selection.selected {
    visibility: visible;
}